.hero {
    min-height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.45);
}

.hero .container {
    z-index: 2;
}
